$highlight_color:#040008;
$primary_color: #112222;
$secondary_color: #636c77;
$third_color: #727a7c;

$border_color: #414654;
$icons_color: 262b2f;

$button_color: #444d56;

$text_heading: #414654;
/* btn second preference is highlight color */
$active_button: #110011;
$suprise_color: #1d0002;

//PART colors

$p_primary_color: #6c17a0;
$p_title_color: #f79090