@import './variables';
body{
    height: 100vh;
    padding: 0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: #414654;
}
h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 48px;
    color: #112222;
    text-transform: capitalize;
 }
.main{
    margin:0; 
    padding: 0;
    height: 100%;
}
.bg-dark {
    background-color: $p_primary_color !important;
}
.navbar-brand {
    color: $p_title_color !important;
}
#thought {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #444d56;
}
.avatar-name {
    margin: 20px
}
.avatar {
    height: 100px;
    width:100px ;
    border-radius: 50%;
}
.social-icon {
    font-size: 2rem;
    cursor: pointer;
    color: #262b2f;
}
.social-icon:hover {
    color: #8a3ab9;
}
.links-menu{
    width: 15%;
}
.link {
    cursor: pointer;
    font-size: 0.8rem;
}
.link a:hover {
    color: #8a3ab9 !important;
}

.active-link {
    background-color: #040008;
    padding: 5px;
    border-radius: 5px;
    height: 45px;
    width: 100px;
    text-align: center;
}
.active-link a {
    color: #fff;
}
.active-link a:hover {
    color: #fff;
}

.content-grid{
    display: grid;
    grid-template-columns: 1fr, 300px;
    column-gap: 1rem;
}
.author-books {
    height: 300px;
    width: 100%;
    border: 2px solid #636c77;
    border-radius: 5px;
}
.author_name h1{
    color: #727a7c;
}
#short_name {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #112222;
}
.author_name {
    margin-left: 3rem;
}
.description {
    margin: auto 50px;
}

.images-card {
    margin: 1rem;
    border: none;
    border-radius: 5px;
    border-left: solid 3px;
    border-color: #e4e0e0;
    flex: 1;
    max-width: 300px;
}
.img-card {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin: 5px;
}

.description {
    flex: 2;
}
.description p {
    max-width: 50%;
}

.p-10 {
    padding: 10px;
}

.card-footer {
    background-color: transparent !important;
}
.cta_login_btn:hover{
    background-color: white;
    color: black;
}
.text_link:hover {
    color: #040008;
}